@tailwind base;
@tailwind components;
@tailwind utilities;



/* disable selection */
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    /* cursor: default; */
}
input, button, textarea, :focus {
    outline: none;
}

/* disable image and anchor dragging */
a:not([draggable=true]), img:not([draggable=true]) {
    -webkit-user-drag: none;
    user-drag: none;
}
a[href^="http://"],
a[href^="https://"],
a[href^="ftp://"] {
    -webkit-user-drag: auto;
    user-drag: auto;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.spinner-loader {
  display: flex;
  border: 2px solid transparent;
  border-top: 2px solid #ffffff;
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner-loader.small {
  width: 10px;
  height: 10px;
}

.spinner-loader.medium {
  width: 20px;
  height: 20px;
}

.spinner-loader.large {
  width: 30px;
  height: 30px;
}

.spinner-loader.x-large {
  width: 50px;
  height: 50px;
}

/* -------------------------- CUSTOM CODE ---------------------------  */

:root {
  --color-primary: #151718; /* #17171b */;
  --color-secondary: #272a2c;
  --color-tertiary: #1e2021;
  --color-quaternary: #181a1b;
  --color-quinquenary: #131121;
  --color-sextenary: #2f3336;
  --color-septenary: #0f1011;
  --color-success: #177546;
  --color-error: #6b2020;
  --color-text: #b2aca2;
  --color-text-section: #7f949c;
  --color-hint: #aaaaaa;

  --color-component-common: rgb(84, 53, 22);
  --color-component-uncommon: rgb(49, 53, 54);
  --color-component-rare: rgb(65, 55, 0);
}

body {
  color-scheme: dark;
  margin: 0px;
  padding: 0px;
  color: var(--color-text);
  background-color: var(--color-primary);
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}

html * {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.v-box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.h-box {
  display: flex;
  flex-flow: row;
  width: 100%;
}

.v-flex {
  display: flex;
  flex-flow: column;
}

.h-flex {
  display: flex;
  flex-flow: row;
}

.sized-content {
  flex: 0 1 auto;
}

.sized-remaining {
  flex: 1 1 auto;
}

.sized-fixed {
  flex: 0 1 var(--fixed-size);
}

.flex-center {
  justify-content: center;
  align-items: center;
}

/* -------------------------- BEGIN ---------------------------  */

a {
  color: rgb(61, 112, 207);
}

.logo-button {
  padding-left: 20px;
  padding: 10px;
}

.logo {
  height: 40px;
}

.main-content {
  overflow: auto;
  height: 1px;
}

.page-body {
  justify-content: center;
  align-items: center;
}

.search-bar-global-container {
  background-color: transparent;
  padding: 5px;
  gap: 20px
}

.search-bar-container {

}

.control-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgb(32, 35, 37);
  cursor: pointer;
  padding: 5px;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
}

.control-button.common {
  /* background-color: #CD7F32; */
  background-color: var(--color-component-common);
}

.control-button.uncommon {
  /* background-color: #C0C0C0; */
  background-color: var(--color-component-uncommon);
}

.control-button.rare {
  /* background-color: #FFD700; */
  background-color: var(--color-component-rare);
}

.settings-button {
  background-color: rgb(0, 66, 121);
  padding: 5px;
  border-radius: 5px;
}

.settings-button-delete {
  background-color: var(--color-error);
}


.global-search-bar-container {
  justify-content: center;
  background-color: var(--color-secondary);
  border-radius: 5px;
  gap: 5px;
  margin: 5px;
}

.global-search-bar-filter-button{
  background-color: var(--color-secondary);
  padding: 5px;
}

.global-search-bar-filter-icon{
  width: 15px;
  height: 15px;
  filter: invert();
}


.global-settings-button {
  margin-right: 10px;
}

.main-view-items-container {
  width: 75vw;
  gap: 50px;
}

.main-view-item-container {
  gap: 5px;
  justify-content: space-evenly;
  background-color: var(--color-secondary);
  padding: 15px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.main-view-item-single-container {
  padding: 10px;
  gap: 5px;
  border-radius: 10px;
  max-width: 160px;
}

.main-view-item-single-container:hover {
  background-color: var(--color-tertiary);

}

.main-view-item-image {
  max-height: 90px;
}

.base-sortable-list {
  padding: 0px;
  margin: 0px;
}

.base-sortable-list-elem {
  cursor: pointer;
}

.home-category-tab-button-container {
  gap: 20px;

  padding: 10px;
  background-color: var(--color-quaternary);
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.home-category-tab-button {
  background-color: var(--color-secondary);
  border-radius: 5px;
  padding: 5px 10px;
  opacity: 50%;
}

.home-category-tab-button.active {
  opacity: 100%;
}

.item-page-item-container {
  border-radius: 10px;
  padding: 20px;
}

.item-page-item-components-container {
  gap: 75px;
}

.item-page-component-container {
  background-color: var(--color-secondary);
  border-radius: 10px;
  padding: 5px;
}


.item-page-component-container.common { background-color: var(--color-component-common); }
.item-page-component-container.uncommon { background-color: var(--color-component-uncommon); }
.item-page-component-container.rare { background-color: var(--color-component-rare); }


.relic-button-container {
  width: 70px;
  height: 80px;
}

.component-page-relative-info-container {
  gap: 10px;
}


.object-page-relative-info-tab {
  background-color: var(--color-secondary);
  padding: 10px;
  border-radius: 10px;
  opacity: 50%;
}

.object-page-relative-info-tab.selected {
  opacity: 100%;
}


.tab-header-tab-button-container {
  gap: 0px;
  font-size: large;
  align-self: stretch;
  background-color: var(--color-quaternary);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
}

.tab-header-tab-button {
  background-color: var(--color-secondary);
  padding: 10px;
  border-radius: 0px;
  opacity: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

.tab-header-tab-button:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tab-header-tab-button:last-child{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tab-header-tab-button.selected {
  opacity: 100%;
}

.tab-component-body-container {
  padding: 10px;
  background-color: var(--color-quaternary);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  align-self: stretch;
}


.object-page-mission-relic {
  border-radius: 5px;
  padding: 5px;
}
.object-page-mission-relic.common { background-color: var(--color-component-common); }
.object-page-mission-relic.uncommon { background-color: var(--color-component-uncommon); }
.object-page-mission-relic.rare { background-color: var(--color-component-rare); }

.object-page-component-owned-button {
  background-color: rgba(99, 99, 99, 0.205);
  border-radius: 5px;
  padding: 5px;
  width: 25px;
  height: 25px;
}

.component-page-parent-item-button {
  background-color: var(--color-secondary);
  border-radius: 10px;
  padding: 10px;
}

.tracked-items-button {
  background-color: var(--color-quaternary);

  border-radius: 10px;

  padding: 10px;
}

.tracked-items-icon {
  height: 100px
}


.star-button {

}

.star-button-container.absolute {
  position: relative;
}

.star-button.absolute {
  position: absolute;
  right: 5px;
  top: 5px;
}


.tracker-item-parent .star-button-icon {
  opacity: 0%;
}

.star-button-icon.tracked, 
.star-button-icon:hover, 
.tracker-item-parent:hover .star-button-icon {
  opacity: 100%;
}


.star-button-icon {
  filter: invert(79%) sepia(14%) saturate(184%) hue-rotate(359deg) brightness(87%) contrast(86%);
  width: 20px;
  height: 20px;
  opacity: 100%
}

.star-button-icon.tracked {
  /* #8d651d */
  filter: invert(35%) sepia(20%) saturate(4292%) hue-rotate(21deg) brightness(94%) contrast(77%);
}


.obtained-check {

}

.obtained-check-container.absolute {
  position: relative;
}

.obtained-check.absolute {
  position: absolute;
  left: 5px;
  top: 5px;
}

.obtained-check-icon {
  filter: invert(22%) sepia(94%) saturate(7406%) hue-rotate(159deg) brightness(90%) contrast(82%);
  width: 20px;
  height: 20px;
  opacity: 100%
}

.main-title-page-view-element {

}

.obtained-label-component {
  gap: 5px;
  font-style: italic;
  font-size: small;
}

.obtained-label-component.hidden {
  opacity: 0%;
}

.layout-header-button {
  border-radius: 10px;
  padding: 10px;
}

.layout-header-button:hover {
  background-color: var(--color-secondary);
}

.layout-header-icon {
  filter: invert(79%) sepia(14%) saturate(184%) hue-rotate(359deg) brightness(87%) contrast(86%);
}

.support-me-button {
  background-color: var(--color-septenary);
}

.support-me-icon {
  /* #8d651d */
  filter: invert(35%) sepia(20%) saturate(4292%) hue-rotate(21deg) brightness(94%) contrast(77%);
}


.become-patron-button {
  color: var(--color-secondary);
}

.icon-button{
  cursor: pointer;
}


.dialog-footer-button{
  background-color: var(--color-quaternary);
  border-radius: 10px;
  padding: 5px;
}

.object-farmed-main-page {
  background-color: #00462359;
}

.object-farmed {
  background-color: #153e2959;
}
