@tailwind base;
@tailwind components;
@tailwind utilities;



/* disable selection */
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    /* cursor: default; */
}
input, button, textarea, :focus {
    outline: none;
}

/* disable image and anchor dragging */
a:not([draggable=true]), img:not([draggable=true]) {
    -webkit-user-drag: none;
    user-drag: none;
}
a,
a[href^="http://"],
a[href^="https://"],
a[href^="ftp://"] {
    -webkit-user-drag: auto;
    user-drag: auto;
}

*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.spinner-loader {
  display: flex;
  border: 2px solid transparent;
  border-top: 2px solid #ffffff;
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner-loader.small {
  width: 10px;
  height: 10px;
}

.spinner-loader.medium {
  width: 20px;
  height: 20px;
}

.spinner-loader.large {
  width: 30px;
  height: 30px;
}

.spinner-loader.x-large {
  width: 50px;
  height: 50px;
}

/* -------------------------- CUSTOM CODE ---------------------------  */

:root {
  --color-primary: #151718; /* #17171b */;
  --color-secondary: #272a2c;
  --color-tertiary: #1e2021;
  --color-quaternary: #181a1b;
  --color-quinquenary: #131121;
  --color-sextenary: #2f3336;
  --color-septenary: #0f1011;
  --color-success: #177546;
  --color-error: #6b2020;
  --color-text: #b2aca2;
  --color-text-section: #7f949c;
  --color-hint: #aaaaaa;
  --color-link-text: rgb(61, 112, 207);

  --color-text-farmed: #49aa5e;
  --color-secondary-farmed: #14331a; /* #1c3020; */
  --color-quaternary-farmed: #102014; /* #17251d; */
  --color-quaternary-partial-farmed: #101b20;

  --color-component-common: rgb(84, 53, 22);
  --color-component-uncommon: rgb(49, 53, 54);
  --color-component-rare: rgb(65, 55, 0);
  --color-resurgence: #116b8f;
}

body {
  color-scheme: dark;
  margin: 0px;
  padding: 0px;
  color: var(--color-text);
  background-color: var(--color-primary);
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}

html * {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.v-box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.h-box {
  display: flex;
  flex-flow: row;
  width: 100%;
}

.v-flex {
  display: flex;
  flex-flow: column;
}

.h-flex {
  display: flex;
  flex-flow: row;
}

.sized-content {
  flex: 0 1 auto;
}

.sized-remaining {
  flex: 1 1 auto;
}

.sized-fixed {
  flex: 0 1 var(--fixed-size);
}

.flex-center {
  justify-content: center;
  align-items: center;
}

/* -------------------------- BEGIN ---------------------------  */

.link-text {
  color: var(--color-link-text);
}

.logo-button {
  padding-left: 20px;
  padding: 10px;
}

.logo {
  height: 40px;
}

.main-content {
  overflow: auto;
  height: 1px;
}

.page-body {
  justify-content: center;
  align-items: center;
}

.search-bar-global-container {
  background-color: transparent;
  padding: 5px;
  gap: 20px
}

.search-bar-container {

}

.control-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgb(32, 35, 37);
  cursor: pointer;
  padding: 5px;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
}

.control-button.common {
  /* background-color: #CD7F32; */
  background-color: var(--color-component-common);
}

.control-button.uncommon {
  /* background-color: #C0C0C0; */
  background-color: var(--color-component-uncommon);
}

.control-button.rare {
  /* background-color: #FFD700; */
  background-color: var(--color-component-rare);
}

.control-button.vaulted {
  opacity: 50%;
}

.control-button:active {
  opacity: 30%;
}

.settings-button {
  background-color: rgb(0, 66, 121);
  padding: 5px;
  border-radius: 5px;
}

.settings-button-delete {
  background-color: var(--color-error);
}


.global-search-bar-container {
  justify-content: center;
  background-color: var(--color-secondary);
  border-radius: 5px;
  gap: 5px;
  margin: 5px;
}

.global-search-bar-filter-button{
  background-color: var(--color-secondary);
  padding: 5px;
}

.global-search-bar-filter-icon{
  width: 15px;
  height: 15px;
  filter: invert();
}


.global-settings-button {
  margin-right: 10px;
}

.main-view-items-container {
  width: 75vw;
  gap: 50px;
}

.main-view-item-container {
  gap: 5px;
  justify-content: space-evenly;
  background-color: var(--color-secondary);
  padding: 15px;
  border-radius: 10px;
}

.main-view-item-single-container {
  padding: 10px;
  gap: 5px;
  border-radius: 10px;
  max-width: 160px;
}

.main-view-item-single-container:hover {
  background-color: var(--color-tertiary);

}

.main-view-item-image {
  /* max-height: 90px; */
}

.base-sortable-list {
  padding: 0px;
  margin: 0px;
}

.base-sortable-list-elem {
  cursor: pointer;
}

.home-category-tab-button-container {
  gap: 20px;

  padding: 10px;
  background-color: var(--color-quaternary);
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.home-category-tab-button {
  background-color: var(--color-secondary);
  border-radius: 5px;
  padding: 5px 10px;
  opacity: 50%;
}

.home-category-tab-button.active {
  opacity: 100%;
}

.item-page-item-container {
  border-radius: 10px;
  padding: 20px;
}

.item-page-item-components-container {
  gap: 75px;
}

.item-page-component-container {
  background-color: var(--color-secondary);
  border-radius: 10px;
  padding: 5px;
}


.item-page-component-container.common { background-color: var(--color-component-common); }
.item-page-component-container.uncommon { background-color: var(--color-component-uncommon); }
.item-page-component-container.rare { background-color: var(--color-component-rare); }


.relic-button-container {
  width: 70px;
  height: 80px;
}

.component-page-relative-info-container {
  gap: 10px;
}


.object-page-relative-info-tab {
  background-color: var(--color-secondary);
  padding: 10px;
  border-radius: 10px;
  opacity: 50%;
}

.object-page-relative-info-tab.selected {
  opacity: 100%;
}


.tab-header {
  background-color: var(--color-quaternary);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
}

.tab-header-tab-button-container {
  gap: 0px;
  font-size: large;
}

.tab-header-tab-button {
  background-color: var(--color-secondary);
  padding: 10px;
  border-radius: 0px;
  opacity: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

.tab-header-tab-button:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tab-header-tab-button:last-child{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tab-header-tab-button.selected {
  opacity: 100%;
}

.tab-component-body-container {
  padding: 10px;
  background-color: var(--color-quaternary);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  align-self: stretch;
}


.object-page-mission-relic {
  border-radius: 10px;
  padding: 5px;
}
.object-page-mission-relic.common { background-color: var(--color-component-common); }
.object-page-mission-relic.uncommon { background-color: var(--color-component-uncommon); }
.object-page-mission-relic.rare { background-color: var(--color-component-rare); }

.object-page-component-owned-button {
  background-color: rgba(99, 99, 99, 0.205);
  border-radius: 5px;
  padding: 5px;
  width: 25px;
  height: 25px;
}

.component-page-parent-item-button {
  background-color: var(--color-secondary);
  border-radius: 10px;
  padding: 10px;
}

.tracked-items-button {
  background-color: var(--color-quaternary);

  border-radius: 10px;

  padding: 10px;
}

.tracked-items-icon {
  height: 100px
}


.star-button {

}

.star-button-container.absolute {
  position: relative;
}

.star-button.absolute {
  position: absolute;
  right: 5px;
  top: 5px;
}


.tracker-item-parent .star-button-icon {
  opacity: 0%;
}

.star-button-icon.tracked, 
.star-button-icon:hover, 
.tracker-item-parent:hover .star-button-icon {
  opacity: 100%;
}


.star-button-icon {
  filter: invert(79%) sepia(14%) saturate(184%) hue-rotate(359deg) brightness(87%) contrast(86%);
  width: 20px;
  height: 20px;
  opacity: 100%
}

.star-button-icon.tracked {
  /* #8d651d */
  filter: invert(35%) sepia(20%) saturate(4292%) hue-rotate(21deg) brightness(94%) contrast(77%);
}





.sell-button {

}

.sell-button-container.absolute {
  position: relative;
}

.sell-button.absolute {
  position: absolute;
  right: 5px;
  top: 5px;
}

.tracker-item-parent .sell-button-icon {
  opacity: 0%;
}

.sell-button-icon.sell, 
.sell-button-icon:hover, 
.tracker-item-parent:hover .sell-button-icon {
  opacity: 100%;
}


.sell-button-icon {
  filter: invert(79%) sepia(14%) saturate(184%) hue-rotate(359deg) brightness(87%) contrast(86%);
  width: 20px;
  height: 20px;
  opacity: 100%
}

.sell-button-icon.sell {
  /* #8d651d */
  filter: invert(35%) sepia(20%) saturate(4292%) hue-rotate(21deg) brightness(94%) contrast(77%);
}


.icon-default-show-hover{
  display: none;
  width: 20px;
  height: 20px;
}

.icon-default-show-hover.absolute {
  position: absolute;
  left: 5px;
  top: 5px;
}

.obtained-check {

}

.obtained-check-hollow {
  display: none;
}

.item-check-parent:hover .obtained-check-hollow, .item-check-parent:hover .icon-default-show-hover {
  display: flex;
}


.obtained-item-check-container-unfarmed {
  display: none;
}

.item-check-parent:hover .obtained-item-check-container-unfarmed {
  display: flex;
}


.obtained-check-container.absolute {
  /* position: relative; */
  display: none;
}

.obtained-check.absolute {
  position: absolute;
  left: 5px;
  top: 5px;
}

.obtained-check-icon {
  filter: invert(22%) sepia(94%) saturate(7406%) hue-rotate(159deg) brightness(90%) contrast(82%);
  width: 20px;
  height: 20px;
  opacity: 100%
}

.main-title-page-view-element {

}

.obtained-label-component {
  gap: 5px;
  font-style: italic;
  font-size: small;
}

.obtained-label-component.hidden {
  opacity: 0%;
}


.obtained-extra-component {
  gap: 2px;
  font-style: italic;
  font-size: small;
}


.item-check-parent {
  position: relative;
}

.resurgence-check {
  
}

.resurgence-check.absolute {
  position: absolute;
  left: 5px;
  top: 5px;
}

.resurgence-check-icon {
  /* #116b8f */
  /* filter: invert(17%) sepia(100%) saturate(2453%) hue-rotate(180deg) brightness(101%) contrast(87%); */
  filter: invert(35%) sepia(20%) saturate(4292%) hue-rotate(21deg) brightness(94%) contrast(77%);
  width: 20px;
  height: 20px;
  opacity: 100%
}

.layout-header-button {
  border-radius: 10px;
  padding: 10px;
}

.layout-header-button:hover {
  background-color: var(--color-secondary);
}

.layout-header-icon {
  filter: invert(79%) sepia(14%) saturate(184%) hue-rotate(359deg) brightness(87%) contrast(86%);
}

.support-me-button {
  background-color: var(--color-septenary);
}

.support-me-icon {
  /* #8d651d */
  filter: invert(35%) sepia(20%) saturate(4292%) hue-rotate(21deg) brightness(94%) contrast(77%);
}


.become-patron-button {
  color: var(--color-secondary);
}

.icon-button{
  cursor: pointer;
}

.icon-button:active {
  opacity: 40%;
}

.icon-button.highlight {
  background-color: color-mix(in srgb,var(--color-component-rare),#000 30%);;
}


.dialog-footer-button{
  background-color: var(--color-quaternary);
  border-radius: 10px;
  padding: 5px;
}


.object-partial-farmed-main-page {
  background-color: #002c4659;
}

.object-farmed-main-page {
  background-color: #00462359;
}

.object-farmed-partial-main-page {
  background-color: #002a4659;
}


.object-partial-farmed {
  background-color: #132c4659;
}

.object-farmed {
  background-color: #153e2959;
}


@keyframes blinkingFramesSlow {
  0% {opacity: 1.00;}
  50% {opacity: 0.50;}
  100% {opacity: 1.00;}
}

.blinking-slow {
  animation-name: blinkingFramesSlow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}


@keyframes blinkingFrames {
  0% {opacity: 0.30;}
  1% {opacity: 0.30;}
  100% {opacity: 1.00;}
}

.blinking {
  animation-name: blinkingFrames;
  animation-duration: .25s;
  animation-iteration-count: infinite;
}


.selector-component {
  background-color: var(--color-tertiary);
  border-radius: 10px;
  padding: 10px;
}

.selector-option-container {
  background-color: var(--color-tertiary);
  border-radius: 10px;
  padding: 10px;
  min-width: fit-content;
}

.selector-option {
  border-radius: 10px;
  padding: 10px;
  align-self: stretch;
  text-align: center;
}

.selector-option:hover {
  background-color: var(--color-quaternary);
}


.icon-default-filter {
  filter: invert(79%) sepia(14%) saturate(184%) hue-rotate(359deg) brightness(87%) contrast(86%);
}

.icon-gold-filter {
  filter: invert(35%) sepia(20%) saturate(4292%) hue-rotate(21deg) brightness(94%) contrast(77%);
}

.icon-partial-filter {
  filter: invert(15%) sepia(39%) saturate(2307%) hue-rotate(187deg) brightness(84%) contrast(89%);
}

.icon-success-filter {
  filter: invert(22%) sepia(94%) saturate(7406%) hue-rotate(159deg) brightness(90%) contrast(82%);
}

.icon-failure-filter {
  /* #6b2020 */
  filter: invert(14%) sepia(60%) saturate(2638%) hue-rotate(341deg) brightness(84%) contrast(89%);
}

.search-button{
  display: none;
}

.tab-component-container {
  /* container-type: inline-size; */
}

.nav-header-buttons-small-mediaquery-container {
  display: none;
}

/* Hide the search bar and show the search button on small screens */
@media (max-width: 750px) {
  .nav-header-buttons-small-mediaquery-container {
    display: flex;
  }

  .header-main-buttons-container {
    display: none;
  }
}


.tab-component-header-control-button {
  display: none;
}

@media (max-width: 1200px) {
  .global-search-bar-area {
    display: none;
  }

  .search-button {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
  }

  .search-expanded {
    width: 100%;
    justify-content: space-between;
  }

  .back-button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .tab-component-header-control-container {
    display: none;
  }

  .tab-component-header-control-button {
    display: flex;
  }
}


/* When the search is expanded, hide the rest of the navbar */
.search-expanded {
  display: flex;
  flex: 1;
}

.nav-bar-standard-icon {
  width: 20px;
  height: 20px;
}

.hover-container .hover-element-child-container {
  display: none;
}

.hover-container:has(.hover-element:hover) .hover-element-child-container {
  display: flex;
}

.speech-bubble {
	position: relative;
	background: var(--color-secondary);
	border-radius: .4em;
  z-index: 1000;
  width: 100px;
  padding: 10px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	/* left: 50%; */
	left: 40%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: var(--color-secondary);
	border-top: 0;
	/* border-left: 0; */
	margin-left: -10px;
	margin-top: -20px;
}

.track-list-button {

}

.track-list-icon {
  width: 50px;
  height: 50px;
}


.confirm-button {

}

.confirm-button-area {

}

.confirm-icon {
  width: 20px;
  height: 20px;
  min-width: 10px;
  min-height: 10px;
}

.confirm-button-area > * {
  border-radius: 0px;
  padding: 5px;
}

.confirm-button-area > *:first-child {
  background-color: var(--color-success);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.confirm-button-area > *:last-child {
  background-color: var(--color-error);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.track-list-selector-option:hover {
  background-color: var(--color-primary);
}


/* Toggle Switch Area */

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-quaternary);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-secondary);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--color-component-rare);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-component-rare);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*   --------------------------------------- */

.sell-pane-button {
  background-color: var(--color-component-rare);
  border-radius: 10px;
  padding: 10px;
}

.global-context-menu-ui {
  background-color: var(--color-tertiary);
}

.confirm-sell-button {
  background-color: var(--color-component-rare);
  border-radius: 10px;
  padding: 10px;
}


/* Collapsible.css */

.collapsible-container {
  width: 100%;
  margin: 20px auto;
  border-radius: 4px;
  overflow: hidden;
}

.collapsible {
  cursor: pointer;
  padding: 18px;
  /* width: 100%; */
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  position: relative;
  transition: background-color 0.3s ease;
}

.collapsible:hover {
}

.collapsible.active {
}

.collapsible-arrow {
  position: absolute;
  /* right: 20px; */
  border-color: #988f8b;
  margin-left: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.3s ease;
  border-width: 0 2px 2px 0;
  padding: 5px;
  display: inline-block;
}

.collapsible-arrow.open {
  transform: translateY(-50%) rotate(45deg);
}

.collapsible-content {
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.collapsible-content-inner {
  padding: 18px;
}

.void-fissures-collapsible {
  max-width: 75vw;
}

.omnia-fissure {
  opacity: 50%;
}
